.header{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_button{
    background-color: transparent;
    border: 0;
    height: 5vh;
    font-size: 20px;
    color: rgb(217, 218, 219);
    padding-right: 5%;
}

.head_logo{
    padding-left: 5%;
}

.head_form_container{
    display: flex;
    justify-content: flex-end;
}

.menu{
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 3.5%;
}

.login_holder{
    display: flex;
    flex-direction: column;
}